/* Source File: local.css
Name:Robert Foltz
Last Modified By: Robert Foltz
Website Name: Support Tracker
File Description: has some CSS for the mobile app.
*/


.alert {
	color:red;
}

.textareas {
	min-height: 150px !important;
}